.chart-header {
  text-align: center;
}

.chart-container {
  svg {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-family: 'Open Sans';
    font-size: 1em;
    text {
      // fill: #ecf0f1;
      pointer-events: none;
    }
  }
}
