.data-modal {
  font-family: 'Open Sans';

  h2 {
    color: #ecf0f1;
  }

  ul {
    height: 22em;
    overflow: scroll;
    border-radius: 0.25em;
    background-color: #16a085;
    color: #ecf0f1;

    li {
      @include padding(0.5em null null 0.75em);
      margin-bottom: 0.3em;
    }
  }
}

.reveal-modal {
  background-color: #1abc9c;

  &:focus {
    outline: none;
  }
}

i.close-modal {
  cursor: pointer;
  font-size: 1.5em;
  @include position(absolute, 0.5em 0.5em null null);
}
