// imports

@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation";
@import "../../bower_components/leaflet.markercluster/dist/MarkerCluster";
@import "../../bower_components/leaflet.markercluster/dist/MarkerCluster.Default";
@import "bourbon";

@import "components/map-style";
@import "components/data-modal";
@import "components/ng-repeat-animation";
@import "components/chart-container";
@import "components/pie-chart";
@import "components/bar-graph";

body {
  font-family: 'Open Sans';
}

.top-bar-section ul {
  position: relative;
  z-index: 100;
}

.leaflet-control-container {
  position: relative;
  z-index: 90;
}