<div class="row">
  <div class="large-12 small-12 columns">
    <h2>About</h2>
    <p>This project is a tool to visualize crime data in the area one mile around CenturyLink Field. You can visualize the data in several ways:</p>
    <ul>
      <li>
        <h3>Map</h3>
        <ul>
          <li>
            <p>View all the crime plotted as clustered points on the map. Zoom in and click on a map marker to see a particular crime's information.</p>
          </li>
          <li>
            <p>View a heat map to see which areas have the most crime</p>
          </li>
        </ul>
      </li>
      <li>
        <h3>Charts</h3>
        <ul>
          <li>
            Pie chart that displays a breakdown of crime that occurs within a mile of CenturyLink Field.
          </li>
          <li>Bar graph that displays a breakdown of the types of crime that occur within a mile of CenturyLink Field</li>
        </ul>
      </li>
    </ul>
  </div>
</div>