<!DOCTYPE html>
<html>
  <head>
    <title>CenturyLink Field Crime Map</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">

    <link rel="stylesheet" href="css/application.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
    <script src="js/bundle.js"></script>
  </head>
  <body ng-app="codingExercise" ng-controller="MainCtrl">

    <top-bar>
      <ul class="title-area">
        <li class="name">
          <h1><a ui-sref="home">CenturyLink Field Crime Data</a></h1>
        </li>
        <li toggle-top-bar class="menu-icon"><a>Menu</a></li>
      </ul>

      <top-bar-section>
        <ul class="right">
          <li><a ui-sref="charts">Charts</a></li>
          <li class="divider"></li>
          <li><a ui-sref="home">Map</a></li>
          <li class="divider"></li>
          <li has-dropdown>
            <a>Map options</a>
            <ul top-bar-dropdown>
              <li ng-if="config.displayMode==='markers'">
                <button ng-click="setMode('heat')" class="button tiny">
                  Show heatmap
                </button>
              </li>
              <li ng-if="config.displayMode==='heat'">
                <button ng-click="setMode('markers')" class="button tiny">
                  Show markers
                </button>
              </li>
              <li>
                <button ng-show="config.displayMode === 'markers'"
                  ng-click="disableClustering()"
                  class="button tiny"
                  ng-class="{
                    alert: !config.disableClustering,
                    success: config.disableClustering
                  }">
                  <span ng-hide="config.disableClustering">Disable</span>
                  <span ng-show="config.disableClustering">Enable</span>
                  clustering
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </top-bar-section>
    </top-bar>

    <div ui-view></div>
  </body>
</html>
